doctype html
html
	head
		title SQL.js demo
		link(rel='stylesheet', href='css/main.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Knewave&display=swap")



	body

		h1 Hello and welcome to this SQL demo!
		h2 Huge hello
		p Welcome  - this is for demonstration purposes
		p blah blah blah
		a(class= 'button' href='something') members
		br
		a(class= 'button' href='newpage') newpage
		br
		a(class= 'button' href='tut1') messageboard1
